

    
<div class="main">
  
    <!-- <img [src] = "myImage" alt="pic1" style="height: 610px;"> -->
    <div class="image">.</div>

    <div class="div1" style="float: right"> 

        <h2>About the website</h2>
        <br>
        <p>This website aims to provide
            relevant information on museum artifacts and artists of the
            Smithsonian American Art  Museum (SAAM) based onsemantic
            querying. This application queries and fetches information
            about an artwork or an artist by search queries with keywords</p>
        <br>

      <p>To use of the website, follow these steps:
        <br>1. Enter your query in the search box
        <br>2. Select one option from the dropdown menu
        <br>3. Click submit to see the results
    </p>

      
 </div>
</div> 

  
   

    

      

<router-outlet></router-outlet>


  