
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #998574">
    <div class="container-fluid">
      <h4 style="color: white;">{{ title }}</h4>
      <button
        class="navbar-toggler"
        type="button"
        (click)="inlineNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarText"
        mdbCollapse
        #inlineNav="mdbCollapse"
      >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li  class="nav-item">
            <a  style="color: white;" class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a  style="color: white;" class="nav-link" routerLink="about">About</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
  <div class="main">
  
    <img [src] = "myImage" alt="pic1" style="height: 550px;">

    <div class="div1" style="float: right;"> 

                <form #userForm ="ngForm" novalidate>

                    {{ userForm.value | json}}
                    <hr />
                    {{ userModel | json}}

                
                    <div class="form-group">
                        <input type="text" required 
                        #search="ngModel" [class.is-invalid]="search.invalid && search.touched"
                        placeholder="Search" class="form-control" name="search" [(ngModel)] = "userModel.search">

                        <small class="text-danger" [class.d-none] = "search.valid || search.untouched">Search query is required</small>
                    </div>
                    <!-- {{search.className}} -->

                    <br>

                    <div class="form-group">
                        <select (blur)="validateSelect(select.value)" (change)="validateSelect(select.value)" class="custom-select" #select="ngModel" [class.is-invalid]="selectHasError && select.touched" name="select" [(ngModel)] = "userModel.select">
                            <option value="default">Select</option>
                            <!-- <option selected>Select</option> -->
                            <option *ngFor = "let ont of ontologies">{{ ont }}</option>
                        </select>
                        <small class="text-danger" [class.d-none] = "!selectHasError || select.untouched">Please choose a valid option</small>
                    </div>
                    <!-- {{ select.className }} -->
                    
                    <br>
                    
                    <button [disabled]="userForm.form.invalid" class="btn btn-outline-warning || selectHasError" type="button">Submit</button>
                
            </form>

    </div>
</div>
<router-outlet></router-outlet>


  